<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Conexiune DB -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://aws-1-eu-north-1.pooler.supabase.com:6543/postgres</property>
        <property name="hibernate.connection.username">postgres.dcduwmhhemvowdwtkfeq</property>
        <property name="hibernate.connection.password">Petexplorer2025</property>

        <!-- Dialect Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Opțiuni utile -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping clasa -->
        <mapping class="petexplorer.domain.CabinetVeterinar"/>
        <mapping class="petexplorer.domain.User"/>
        <mapping class="petexplorer.domain.PensiuneCanina"/>
        <mapping class="petexplorer.domain.Salon"/>
        <mapping class="petexplorer.domain.Magazin"/>
        <mapping class="petexplorer.domain.Farmacie"/>
        <mapping class="petexplorer.domain.AnimalPierdut"/>
        <mapping class="petexplorer.domain.Parc"/>
        <mapping class="petexplorer.domain.LocatieFavorita"/>
        <mapping class="petexplorer.domain.Rating"/>
    </session-factory>
</hibernate-configuration>